<h1> Felicidades usted gano</h1>
<input type="hidden" name="posicion" value=<%=@posicion%>>
<p></p>
<p></p>
<p></p>
<p></p>
<h2>LOS ULTIMOS 3 REGISTROS DE RESULTADOS DEL JUEGO SON:</h2>
<p><strong>1</strong><%=$resultados[0]%></p>
<p><strong>2</strong><%=$resultados[1]%></p>
<p><strong>3</strong><%=$resultados[2]%></p>

<form action="/" name="jugar" method="get">
	<input type="submit" name="Jugar" value="Jugar">
</form>
